app/OxigenIISoftwareInstaller/OxigenIISoftwareInstaller/Service References/UserManagementServicesReference/UserManagementServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OxigenIIAdvertising.UserManagementServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OxigenIIAdvertising.UserManagementServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserMain">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDemographicData" nillable="true" type="tns:DemographicData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMain" nillable="true" type="tns:UserMain" />
  <xs:complexType name="DemographicData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="SocioEconomicGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemographicData" nillable="true" type="tns:DemographicData" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
</xs:schema>